*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: DM Sans;
}

.switch {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  left: 1px;
  bottom: 0.5px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 0 2px rgba(126, 127, 128, 0.7);
  outline: none;
}

input:checked + .slider:before {
  transform: translateX(5px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hay{
    justify-content: end;
    display: flex;
    align-items: center;
 
}

.parent_container{

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.child_container{
    border-radius: 19.526px;
    background: #252525;
    color: var(--Neutral-White, #FFF);
    padding: 23.432px 20.502px 23.431px 21.479px;
    justify-content: center;
    align-items: center;
    font-size: 15.621px;
    font-weight: 500;
    width: 319.253px;
    height: 170.854px;
    margin-top: 10px;

}

.child_container_2{
    border-radius: 19.526px;
    background: #DBE1E7;
    color: var(--Grey-800, #4F5C67);
    padding: 23.432px 20.502px 23.431px 21.479px;
    justify-content: center;
    align-items: center;
    width: 319.253px;
    height: 170.854px;
    margin-top: 10px;
}
.card_para{
    padding: 40px;

    color: var(--Grey-600, #74828E);
    text-align: center;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
}
.first_para{
   
    font-feature-settings: 'ss03' on, 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 15.621px;
    font-style: normal;
    font-weight: 500;
    line-height: 15.621px; /* 100% */
}

.second_para{
    /* color: #EFEFEF; */
    font-feature-settings: 'ss03' on, 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 11.716px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.621px; /* 133.333% */
}



.third_para{
    /* color: var(--Neutral-White, #FFF); */
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 27.337px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.351px;
}

.last_para{
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 9.763px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 14.645px */
    letter-spacing: 0.068px;
    text-align: right;
}

canvas {
    border: 1px solid #ddd;
  }


  
@media screen and (min-width: 576px) {
    .parent_container{
        width: 100%;
        margin: 0;
        
        align-items: center;
        justify-content: center;
    }

}

@media screen and (min-width: 1200px) {
    .parent_container{
        flex-direction: row;
        gap: 1px;
    }
    .card_para{
        margin-left: 180px;
    }
}

@media screen and (min-width: 1023px) {
    .parent_container{
        align-items: center;
        gap: 20px;
    }
}