/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
* {
  user-select: none;
  /* outline: 1px solid red; */
}

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --Awacash-Blue: #2793eb;
  --Awacash-Green: ##2aae74;
  --Black-100: ##282828;
  --Blue-100: #f5faff;
  --Blue-500: ##50a5e9;
  --Grey-100: #f7f8f9;
  --Grey-300: ##dbe1e7;
  --Grey-400: ##b9c3cc;
  --Grey-500: ##8895a1;
  --Grey-600: ##74828e;
  --Grey-700: ##606f7b;
  --Grey-800: ##4f5c67;

  --text-color: #8895a1;
  --body-color: #fff;
  --container-color: hsl(207, 4%, 95%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/

  --body-font: "Roboto", sans-serif;
  --title-font: "Lora", serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --font-size: 0.8rem;

  --normal-font-size: 0.76rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/

  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/

  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */

/* @media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 0.8rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
} */

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: DM Sans;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--container-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: none;
  color: var(--Awacash-Blue);
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.center {
  display: grid;
  place-content: center;
}

/*=============== HEADER & NAV ===============*/

.nav {
  height: calc(var(--header-height) + 0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(240, 20%, 99%, 0.863);
  box-shadow: 0 4px 30px hsla(207, 24%, 35%, 0.1);
  padding-inline: 1.5rem;
  border-radius: 3.5rem;
}

.nav__logo img {
  width: 60%;
}

@media screen and (max-width: 1023px) {
  .nav__show {
    /* transform: scale(1); ===> shrink animation */
    bottom: 2rem;
  }
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--text-color);
}

.nav__link i {
  font-size: 1.25rem;
}

/* Show menu */

/* Active link */

.active-link {
  color: var(--title-color);
}

/*=============== ANIMATIONS ===============*/

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translate(0);
  }
}

.parent__container {
  position: relative;
}

nav {
  background: var(--body-color);
  position: fixed;
  inset: 0 80% 0 0;
}

aside {
  background: var(--container-color);
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 0 0 20%;
  position: relative;
}

.top__bar {
  text-align: center;
  background: var(--body-color);
  position: sticky;
  top: 0;
}

/* ======== ACCOUNT BALANCE SECTION ======== */

.section__container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section__cards__1 {
  border-radius: 19.526px;
  background: #252525;
  color: var(--Neutral-White, #fff);
  padding: 23.432px 20.502px 23.431px 21.479px;
  justify-content: center;
  align-items: center;
  font-size: 15.621px;
  font-weight: 500;
  width: 319.253px;
  height: 170.854px;
  margin-top: 10px;
}

.section__cards__2 {
  border-radius: 19.526px;
  background: #dbe1e7;
  color: var(--Grey-800, #4f5c67);
  padding: 23.432px 20.502px 23.431px 21.479px;
  justify-content: center;
  align-items: center;
  width: 319.253px;
  height: 170.854px;
  margin-top: 10px;
}

.section__title {
  color: var(--Grey-600, #74828e);
  text-align: center;
  font-family: DM Sans;
  font-size: var(--h2-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.first_para {
  font-feature-settings: "ss03" on, "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 500;
  line-height: 15.621px; /* 100% */
}

.second_para {
  /* color: #EFEFEF; */
  font-feature-settings: "ss03" on, "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: var(--small-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 15.621px; /* 133.333% */
}

.third_para {
  /* color: var(--Neutral-White, #FFF); */
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: var(--h1-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.351px;
}

.last_para {
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: var(--tiny-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 14.645px */
  letter-spacing: 0.068px;
  text-align: right;
}

.switch {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 3px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  left: 1px;
  bottom: 0.5px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 0 2px rgba(126, 127, 128, 0.7);
  outline: none;
}

input:checked + .slider:before {
  transform: translateX(5px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hay {
  justify-content: end;
  display: flex;
  align-items: center;
}

canvas {
  border: 1px solid #ddd;
}

/* ========== BREAK POINT ========= */

/* -------- 576 Break Point --------*/

@media screen and (min-width: 576px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 20.337px;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --font-size: 0.9rem;
    --normal-font-size: 0.77rem;
    --small-font-size: 0.855rem;
    --smaller-font-size: 0.793rem;
    --tiny-font-size: 0.668rem;
  }

  .section__container {
    width: 100%;
    margin: 0;

    align-items: center;
    justify-content: center;
  }
}

/* -------- 800 Break Point --------*/

@media screen and (min-width: 800px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 25.337px;
    --h2-font-size: 1.4rem;
    --h3-font-size: 1.25rem;
    --font-size: 0.95rem;
    --normal-font-size: 0.79rem;
    --small-font-size: 0.865rem;
    --smaller-font-size: 0.803rem;
    --tiny-font-size: 0.678rem;
  }

  .section__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .section__title {
    margin-left: 180px;
  }
}

/* -------- 1023 Break Point --------*/

@media screen and (min-width: 1023px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 27.337px;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --font-size: 1rem;
    --normal-font-size: 0.8rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }

  .section__container {
    align-items: center;
    gap: 20px;
  }
}
